.experience-sectin {
    background-color: black;
    color: white;
    padding: 20px;
    width: 1304px;
    margin-left: -128px;
  }
  .experience-sectin h3 {
    margin-bottom: 40px;
  }
  .content-box {
    border: 2px solid gray;
    width: 960px;
    margin: auto;
    padding: 10px;
  }
  .content-text img {
    width: 30px;
    height: 30px;
  }
  .content-text {
    display: flex;
    justify-content: space-around;
    padding: 28px;
  }
  .content-text p {
    margin-top: 6px;
  }
  .experience-description p {
    display: flex;
    text-align: start;
    color: gray;
    width: 900px;
    margin-left: 50px;
    margin-top: -30px;
  }
  