.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1040;
}

.modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  max-width: 100%;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
}

.modal-content a {
  padding: 20px;
}

.modal-content p {
  margin-top: -3px;
  text-align: start;
}

.modal-content div {
  padding: 20px 20px 0px 20px;
}

.close {
  position: absolute;
  top: -38px;
  right: 0px;
  font-size: 24px;
  cursor: pointer;
}

.card {
  width: 18rem;
  background-color: #f9f9f9;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-body {
  text-align: start;
  padding: 30px;
}

#projects p{
    margin-top: -20px;
    margin-bottom: 40px;
}