.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.container {
  width: 80vw;
  margin: 0 auto;
  margin-top: 3vh;
}

body {
  width: 80vw;
  margin: 0 auto;
  margin-top: 3vh;
}

.navigation-options {
  display: flex;
  justify-content: space-between;
}
.navigation-options ul {
  text-decoration: none;
}
.navigation-options .li {
  list-style: none;
  display: flex;
}
.Link {
  text-decoration: none;
  padding: 0px 20px;
  color: black;
}

.resume {
  padding: 15px 20px;
}
.resume button {
  color: white;
  background-color: black;
  padding: 12px;
  border-radius: 10px;
}

.left {
  float: left;
  width: 479px;
}
.right {
  float: right;
}
.right img {
  margin-top: -57px;
  width: 598px;
}
.left h3 {
  margin-top: 187px;
  text-align: start;
  margin-left: 13px;
}
.left h3 span {
  font-size: 20px;
  color: rgb(59, 57, 57);
}
.home-logo{
  border: 2px solid black;
}
.home-logo a img {
  text-align: start;
  width: 30px;
  height: 30px;
  padding: 20px;
  float: left;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
